:root {
    --font-size: 14px
}

.top-title {
    text-align: center;
    font-size: 24px;
}
.main_container {
    display: flex;
}
.my_table {
    width: 700px;
}
.row {
    background-color: gainsboro;
}
.header-row {
    text-align: center;
}

td {
    width: 150px;
    height: 50px;
}
.submit-form{
    display: flex;
    justify-content: space-between;
}
form p {
    display: flex;
    flex-direction: column;
}
dialog {
    width: 450px;
    height: 350px;
    border-radius: 10px;
}
form input, form option{
    height: 30px;
    border-radius: 2px;
}
.readBtn {
    width: 50px;
    height: 20px;
}
