:root {
    --font-size: 14px
}

.top-title {
    text-align: center;
    font-size: 24px;
}
.library-table {
    width: 700px;
    background-color: aqua;
}
.row {
    background-color: goldenrod;
}
.header-row {
    text-align: center;
}